<div class="info-header">
  <h1 class="header-title">{{typeString[type]}}管理</h1>
  <p class="header-note">此处可以管理系统中的{{typeString[type]}}帐号</p>
</div>
<div class="operations">
  <button mat-fab color="primary" matTooltip="添加{{typeString[type]}}帐号"
          (click)="userEdit(null)"><mat-icon>add</mat-icon></button>
  <button mat-fab color="warn" [disabled]="selection.isEmpty()" (click)="userDelete()"
          matTooltip="删除已选{{typeString[type]}}帐号"><mat-icon>delete</mat-icon></button>
</div>
<div class="content-wrapper mat-elevation-z8">
  <mat-paginator class="paginator"
                 [pageSizeOptions]="[10, 50, 100]"
                 showFirstLastButtons pageSize="10"
                 [length]="dataSource.length"
                 (page)="selection.clear()"></mat-paginator>
  <table mat-table [dataSource]="dataSource" class="user-table" [trackBy]="tableItemCheckBy">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of columnPairs" [matColumnDef]="column[0]">
      <th mat-header-cell *matHeaderCellDef>{{column[1]}}</th>
      <td mat-cell *matCellDef="let element" [ngSwitch]="column[0]">
        <span *ngSwitchCase="'role_name'">{{RoleTable[element[column[0]]]}}</span>
        <img *ngSwitchCase="'avatar'" alt="avatar" class="user-list-avatar"
             [src]="autoAvatar(element.avatar)" [matTooltip]="validLink(element.avatar) ? '自定义头像' : '默认头像'">
        <span *ngSwitchDefault>{{element[column[0]]}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>编辑</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="$event ? $event.stopPropagation() : null"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnRefs"></tr>
    <tr class="user-row"
        mat-row *matRowDef="let element; columns: columnRefs;"
        (click)="selection.toggle(element)">
    </tr>
  </table>
</div>
