<div class="mdui-container-fluid">
  <div class="mdui-row">
    <div class="mdui-col-xs-3 top-block">
    </div>
  </div>
  <div class="mdui-row" *ngIf="isMainPage">
    <div class="mdui-col-xs-2 "></div>
    <div class="mdui-col-xs-3">
      <button mat-button class = "block" (click)="jumpToChangePasswordPage()">
        <div class="icon-padding"></div>
        <i class="mdui-icon material-icons mdui-center">&#xe0da;</i>
        <h4>修改密码</h4>
      </button>
    </div>
    <div class="mdui-col-xs-2 ">
    </div>
    <div class="mdui-col-xs-3">
      <button mat-button class = "block" (click)="jumpToChangeEmailPage()">
        <div class="icon-padding"></div>
        <i class="mdui-icon material-icons mdui-center">&#xe151;</i>
        <h4>修改邮箱</h4>
      </button>
    </div>
    <div class="mdui-col-xs-2 "></div>
  </div>
  <div class="mdui-row" *ngIf="!isMainPage">
    <div class="mdui-col-xs-12">
      <div *ngIf="isPasswordPage">
        修改密码
      </div>
      <div *ngIf="isEmailPage">
        修改邮箱
      </div>
    </div>
  </div>
  <div class="mdui-row">
    <div class="bottom-padding"></div>
    <div class="mdui-col-xs-12">
      <mat-divider></mat-divider>
      <div *ngIf="!isMainPage">
        <button class="mdui-btn mdui-btn-raised mdui-ripple button mdui-center" (click)="backToMainPage()" >返回</button>
      </div>
    </div>

  </div>
</div>
