.panel-header{
  height 150px;
}
.blue{
  background blue;
}
  .red{
    background red;
  }

    .icon-style{
      font-size 100px
      background-color antiquewhite
    }

      .block{
        height 140px;
        width  140px;
        border-radius  15px;
        background-color #EEEEEE;
        i{
          font-size 50px;
          color #BDBDBD;
          text-align:center
        }
        h4{
          color #616161;
          text-align:center
          margin-top 10px;
        }
      }

        .icon-padding{
          height 25px;
        }

.top-block{
  height 100px;
}

  .bottom-padding{
    height 100px;
  }

.button{
  margin-top 20px;
  background-color #039BE5;
  color white

}
