<div class="mdui-container-fluid">
  <div class="mdui-row" *ngIf="isMainPage">
    <div class="mdui-col-xs- top-block">
    </div>
  </div>
  <div class="mdui-row" *ngIf="!isMainPage">
    <div class="mdui-col-xs-1">
      <button class="mdui-btn mdui-btn-raised mdui-ripple back-button " (click)="backToMainPage()" >
        <i class="mdui-icon material-icons">&#xe5c4;</i>
        &nbsp;&nbsp;&nbsp;返回
      </button>
    </div>
  </div>
  <div class="mdui-row" *ngIf="isMainPage">
    <div class="mdui-col-xs-2 "></div>
    <div class="mdui-col-xs-3">
      <button mat-button class = "block" (click)="jumpToChangePasswordPage()">
        <div class="icon-padding"></div>
        <i class="mdui-icon material-icons mdui-center">&#xe0da;</i>
        <h4>修改密码</h4>
      </button>
    </div>
    <div class="mdui-col-xs-2 ">
    </div>
    <div class="mdui-col-xs-3">
      <button mat-button class = "block" (click)="jumpToChangeEmailPage()">
        <div class="icon-padding"></div>
        <i class="mdui-icon material-icons mdui-center">&#xe151;</i>
        <h4>修改邮箱</h4>
      </button>
    </div>
    <div class="mdui-col-xs-2 "></div>
  </div>
  <div class="mdui-row" *ngIf="!isMainPage">
    <div class="mdui-col-xs-12">
      <div *ngIf="isPasswordPage">
        <div class="mdui-container-fluid clang-password">
          <div class="mdui-row">
            <div class="mdui-col-xs-12">
              <div class="mdui-center">
                <h2 class = ""><b>修改密码</b></h2>
              </div>
            </div>
          </div>
          <div class="mdui-row">
            <div class = "center-padding"></div>
            <div class="mdui-col-xs-3">
              <h4>原始密码:</h4>
            </div>
            <div class="mdui-col-xs-7">
              <mat-form-field appearance="outline"  class="mdui-center">
                <mat-label>输入旧密码</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </div>
            <div class="mdui-col-xs-2"></div>
          </div>
          <div class="mdui-row">
            <div class="mdui-col-xs-3">
              <h4>新 &nbsp;密 &nbsp;码:</h4>
            </div>
            <div class="mdui-col-xs-7">
              <mat-form-field appearance="outline" class="mdui-center">
                <mat-label>输入新密码</mat-label>
                <input matInput placeholder="6-12个字符">
              </mat-form-field>
            </div>
            <div class="mdui-col-xs-2"></div>
          </div>
          <div class="mdui-row">
            <div class="mdui-col-xs-3">
              <h4>确认密码:</h4>
            </div>
            <div class="mdui-col-xs-7">
              <mat-form-field appearance="outline" class="mdui-center">
                <mat-label>再次输入新密码</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </div>
            <div class="mdui-col-xs-2"></div>
          </div>
        </div>
      </div>
      <div *ngIf="isEmailPage">
        修改邮箱
      </div>
    </div>
  </div>
  <div class="mdui-row">
    <div class="main-bottom-padding" *ngIf="isMainPage"></div>
    <div class="bottom-padding" *ngIf="!isMainPage"></div>
    <div class="mdui-col-xs-12">
      <mat-divider></mat-divider>
      <div *ngIf="!isMainPage"></div>
      <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent button mdui-center" *ngIf="isPasswordPage">提交</button>
    </div>

  </div>
</div>
