

.top-padding
  height 64px

  @media (max-width 599px)
    height 56px

.full-width
  width 100%

.register-container
  height 650px
  margin 50px auto 100px
  width 100%
  background-color white
  padding 48px 40px 36px

  @media (max-width 599px)
    width calc(100% - 40px)
    border none
    border-radius 0
    padding 48px 20px 36px
    margin-top 0

  @media (min-width 600px)
    width 80%

  @media (min-width 1023px)
    max-width 1000px

.bottom-switcher
  position relative
  height 50px
  width 100%

  .register-next
    position absolute
    right 0
    bottom 0

  .register-previous
    position absolute
    left 0
    bottom 0

.register-bad-invite-code
  margin-top 50px
  color red
  text-align center

  .register-bad-invite-code-icon
    font-size 72px
    width 72px
    height 72px

.register-hint
  margin 20px 0

.register-invite-verify
  margin-top 30px

.form-input-container
  width 400px
  max-width calc(100% - 40px)
  margin auto

  .form-input
    width 100%
