.team-wrapper
  height 100vh
  text-align center

  .team-avatar
    margin-top 15vh
    text-align center

    @media (max-width 599px)
      margin-top 5vh

    .team-img
      height 256px
      width 256px
      border-radius 50%

  .member-avatar
    display flex
    flex-direction row
    justify-content center
    color white
    width 100%

    .member-img
      display block
      margin 10px
      height 48px
      width 48px
      border-radius 50%

.info
  margin-top 20px
  color white
  font-weight 700
  font-size 36px
  line-height 1.8
  text-shadow: 0.02em 0.02em 0.05em #999999

.action
  max-width 600px
  text-align center
  margin auto

  button
    margin 50px
    height 48px
    width 120px
    font-size 18px

    @media (max-width 599px)
      margin 5px
