.info-header
  margin 30px 0 20px
  text-align center

.operations
  text-align right
  margin-right 40px

  @media (max-width 599px)
    margin-right 20px

  button
    margin-left 10px

.content-wrapper
  margin 20px 40px 40px
  overflow-x auto
  overflow-y hidden
  position relative

  @media (max-width 599px)
    margin 20px 0 40px

  .user-table
    min-width 640px
    width 100%

    td.mat-column-star
      width 20px
      padding-right 8px

    th.mat-column-position, td.mat-column-position
      padding-left 8px

    .mat-table-sticky:first-child
      border-right 1px solid #e0e0e0

    .mat-table-sticky:last-child
      border-left 1px solid #e0e0e0

    th.mat-header-cell, td.mat-cell
      padding-left 10px
      min-width 20px

    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type
      width 26px
      min-width 26px

    th.mat-header-cell:last-of-type, td.mat-cell:last-of-type
      padding-right 10px
      width 26px
      min-width 26px

    .user-list-avatar
      height 40px
      width 40px
      margin -10px 0
      vertical-align middle

  .paginator
    position sticky
    left 0
    border-bottom 1px solid rgba(0, 0, 0, 0.12)

  .filter-wrapper
    position sticky
    left 0
    padding 20px 20px 10px
    background white
    border-bottom 1px solid rgba(0, 0, 0, 0.12)

    .filter
      display grid
      grid-template-columns 1fr 1fr 1fr
      grid-gap 10px

      @media (max-width 1023px)
        grid-template-columns 1fr 1fr

      @media (max-width 599px)
        grid-template-columns 1fr
