<div class="info-header">
  <h1 class="header-title">项目列表</h1>
  <p class="header-note">寻找你感兴趣的项目</p>
</div>
<!-- TODO should me make this a changeable filter, or just an indicator (current) -->
<div class="item-filter">
  <mat-chip-list aria-label="项目">
    <mat-chip>{{train}}</mat-chip>
  </mat-chip-list>
</div>
<div class="content-wrapper">
  <mat-card class="project-card" *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-title>{{project.name}}</mat-card-title>
      <mat-card-subtitle class="project-subtitle">项目难度:
        <mat-icon *ngFor="let _ of range(capLevel(project.level))" color="accent">star</mat-icon>
        <mat-icon *ngFor="let _ of range(5 - capLevel(project.level))" color="accent">star_outline</mat-icon>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="introduction">{{project.content}}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- TODO bind real action to buttons (maybe change to <a> element) -->
      <button mat-button (click)="JumpToDetail(project)">查看详情</button>
      <button mat-button>寻找团队</button>
      <button mat-button>创建团队</button>
    </mat-card-actions>
  </mat-card>
</div>
