<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
<script src="//cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>

<div class="top-padding"></div>
<div class = "center-background">

  <div class="page-top-padding"></div>

  <div class="mdui-container">
    <div class="mdui-row mdui-row-gapless">
      <div class="mdui-col-xs-2"></div>
    </div>
    <div class="mdui-row mdui-row-gapless">
      <div class="mdui-col-xs-2"></div>
      <div class="mdui-col-xs-2 menu-head">
        <div class="mdui-container ">
          <div><h1>个人中心</h1></div>
        </div>
      </div>
      <div class="mdui-col-xs-6 item-head">
        <h2>丨个人基本信息</h2>
      </div>
      <div class="mdui-col-xs-2"></div>
    </div>
  </div>
  <div class="mdui-container">
    <div class="mdui-row mdui-row-gapless">
      <div class="mdui-col-xs-2"></div>
      <div class="mdui-col-xs-2 menu-body">

        <button mat-button><i class="mdui-icon material-icons">&#xe84f;</i><h2>首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</h2></button>
        <button mat-button><i class="mdui-icon material-icons">&#xe851;</i><h2>我的信息</h2></button>
        <button mat-button><i class="mdui-icon material-icons">&#xe853;</i><h2>我的头像</h2></button>

      </div>

      <div class="mdui-col-xs-6 item-body">
        <div class="info-top-padding"></div>
        <div class="mdui-container">
          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-2">
              <div class="mdui-text-right info-padding"> <h4>昵称:</h4></div>
            </div>
            <div class="mdui-col-xs-10">
                <mat-form-field appearance="outline" class = "input-padding">
                  <mat-label>创建你的昵称</mat-label>
                  <input matInput placeholder="" class = “inputbox”>
                </mat-form-field>
            </div>

          </div>
          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-2">
              <div class="mdui-text-right info-padding"> <h4>我的签名:</h4></div>
            </div>
            <div class="mdui-col-xs-10">
              <mat-form-field appearance="outline" class = "input-padding">
                <mat-label>设置你的签名</mat-label>
                <input matInput placeholder="" style="OVERFLOW:hidden">
              </mat-form-field>
            </div>

          </div>
          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-2">
              <div class="mdui-text-right info-padding" > <h4>Email:</h4></div>
            </div>
            <div class="mdui-col-xs-10">
              <mat-form-field appearance="outline" class = "input-padding">
                <mat-label>修改你的Email</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </div>

          </div>
          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-2">
              <div class="mdui-text-right info-padding"> <h4>电话:</h4></div>
            </div>
            <div class="mdui-col-xs-10">
              <mat-form-field appearance="outline" class = "input-padding">
                <mat-label>修改你的电话</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
            </div>
          </div>

          <mat-divider></mat-divider>
          <div class="mdui-container">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent savebutton mdui-center">保存</button>
          </div>
      </div>

      <div class="mdui-col-xs-2"></div>
    </div>
  </div>

  <div class="page-bottom-padding"></div>
</div>



