<div id="top-of-page"></div>

<div *ngIf="isFetching" class="progress-bar-container">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<mat-toolbar color="primary" class="app-toolbar no-print" [class.transitioning]="isTransitioning">
  <mat-toolbar-row>
    <button mat-button class="hamburger" title="Menu">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <a class="nav-link home" href="/" [ngSwitch]="windowType | async">
      <img *ngSwitchCase="'phone'" src="assets/logo-tmp.png" width="40" height="40" title="Home" alt="Home">
      <div *ngSwitchDefault>
        <img src="assets/logo-tmp.png" width="40" height="40" title="Home" alt="O">
        <span class="brand-name">ctopigeon</span>
      </div>

    </a>
<!--    <aio-top-menu *ngIf="isSideBySide" [nodes]="topMenuNodes" [currentNode]="currentNodes?.TopBar"></aio-top-menu>-->
    <search-box class="search-container" #searchBox ></search-box>
    <div class="user-container" title="User">
      <a href="#" class="user-page">
        <img src="assets/avatar.jpg" alt="user" class="user-avatar">
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
