<div *ngIf="isFetching" class="progress-bar-container">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<mat-toolbar color="primary" class="app-toolbar no-print" [class.transitioning]="isTransitioning" [class.start]="isStartPage | async">
  <mat-toolbar-row>
    <button mat-button class="hamburger" title="Menu" (click)="sidenav.toggle()" [class.start]="isStartPage | async">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <a class="nav-link home" href="/" [ngSwitch]="windowType | async">
      <img *ngSwitchCase="'phone'" src="assets/logo-white.png" width="40" height="40" title="Home" alt="Home">
      <div *ngSwitchDefault>
        <img src="assets/logo-white.png" width="40" height="40" title="Home" alt="O">
        <span class="brand-name">ctopigeon</span>
      </div>
    </a>
    <!--    <aio-top-menu *ngIf="isSideBySide" [nodes]="topMenuNodes" [currentNode]="currentNodes?.TopBar"></aio-top-menu>-->
    <search-box *ngIf="!(isStartPage  | async)" class="search-container" #searchBox></search-box>
    <div *ngIf="!(isStartPage | async)" matRipple class="user-container" title="User" matRippleColor="rgba(255, 255, 255, 0.1)">
      <a href="#" class="user-page">
        <img [src]="conn.avatar | async" alt="user" class="user-avatar">
      </a>
    </div>
    <div *ngIf="isStartPage | async" class="search-container dummy"></div>
    <div *ngIf="isStartPage | async" class="user-container dummy"></div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="main-container" [class.start]="isStartPage | async">
  <mat-sidenav #sidenav class="main-sidenav"
               [opened]="!(isStartPage  | async) && (windowType | async) === 'desktop'"
               [mode]="windowType | async | sidebarMode">
    <nav-menu [nodes]="sidenavNodes" [isWide]="true"></nav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="top-of-page"></div>
    <div class="start-background" [class.start]="isStartPage | async" ></div>
    <div class="content-container">
      <app-personal-data></app-personal-data>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
