.progress-bar-container
  height 2px
  overflow hidden
  position fixed
  top 0
  width 100vw
  z-index 11

mat-toolbar.app-toolbar
  position fixed
  top 0
  right 0
  left 0
  z-index 10
  box-shadow 0 2px 5px 0 rgba(0,0,0,.3)
  margin 0
  transition background 0.3s

  &.start
    position absolute
    box-shadow none
    background transparent

  mat-toolbar-row
    padding 0
    display flex
    flex-direction row

    button.hamburger
      height 100%
      margin 0
      transition margin 0.3s

      &.start
        margin-left -64px

    .nav-link
      height 40px
      line-height 40px
      color white
      text-decoration none
      margin 0 5px 0

    .home
      img
        vertical-align top
        margin-right -2px

      .brand-name
        display inline-block
        font-size 24px

    .search-container
      display flex
      justify-content flex-end
      align-items center
      width 100%
      height 100%
      margin-right 5px
      margin-left 15px

    .user-container
      height 64px
      width 64px
      flex-shrink 0
      -webkit-tap-highlight-color transparent

      .user-page
        display inline-block
        text-decoration none
        color inherit
        height 100%

        .user-avatar
          border-radius 50%
          height 46px
          width 46px
          padding 9px
          background transparent


      @media (max-width 599px)
        height 56px
        width 56px

        .user-page .user-avatar
          height 40px
          width 40px
          padding 8px

.main-container
  box-sizing content-box
  padding-top 64px
  height calc(100vh - 64px)
  transition-property padding
  transition-duration 0.3s
  transition-timing-function step-end

  .content-container
    min-height calc(100vh - 264px)

  @media (max-width 599px)
    padding-top 56px
    height calc(100vh - 56px)

    .content-container
      min-height calc(100vh - 256px)

  &.start
    padding-top 0
    height 100vh
    transition-timing-function step-start

    .content-container
      min-height calc(100vh - 200px)

.start-background
  position absolute
  z-index -1
  width 100%
  height 90vh
  top 0
  background-color #1976d2
  background linear-gradient(45deg, #0d48a1, #42cbf5)
  transform-origin 0
  transition opacity 0.3s

  @media (min-width 600px)
    transform skewY(-8deg)
    height 80vh

  @media (min-width 1023px)
    height 650px

  &:not(.start)
    opacity 0


