.not-found-wrapper
  height 200px
  width 300px
  margin calc(50vh - 150px) auto
  text-align center
  color white

  .error-code
    font-size 100px
    line-height 100px
    font-weight 900

  .error-info
    font-weight 400
    font-size 25px

  .error-hint
    font-weight 400
    font-size 15px
    a
      color white
