<div class="info-header">
  <h1 class="header-title">职业规划</h1>
  <p class="header-note">点击选择你感兴趣的方向，以获取职业建议</p>
</div>
<div class="content-wrapper">
  <div class="tech-panels">
    <div class="tech-panel mat-elevation-z3" *ngFor="let tech of techs" mat-ripple
         (click)="$event ? selection.toggle(tech.mark) : null"
         [class.chosen]="selection.isSelected(tech.mark)">
      <div class="tech-icon">
        <img [src]="tech.file" class="icon-image" alt="">
      </div>
      <div class="name-wrapper">
        <p>{{tech.name}}</p>
      </div>
      <mat-checkbox class="tech-checker"
                    [checked]="selection.isSelected(tech.mark)"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(tech.mark) : null"></mat-checkbox>
    </div>
  </div>
  <div class="button-container">
    <button mat-flat-button color="primary" class="submit-button"
            [disabled]="selection.isEmpty()" (click)="generateAdvice()">生成评价</button>
  </div>
  <div class="ability-graph" *ngIf="generated" @graph>
    <div echarts [options]="options" class="graph"></div>
  </div>
</div>
