<div class="info-header">
  <h1 class="header-title">职业规划</h1>
  <p class="header-note">点击选择你感兴趣的方向，以获取职业建议</p>
</div>
<div class="content-wrapper">
  <div class="tech-panel mat-elevation-z3" *ngFor="let i of na" mat-ripple
       (click)="$event ? selection.toggle(i) : null"
       [class.chosen]="selection.isSelected(i)">
    <div class="tech-icon">
      <div style="background: green; border-radius: 50%" class="icon-image"></div>
    </div>
    <div class="name-wrapper">
      <p>name here</p>
    </div>
    <mat-checkbox class="tech-checker"
                  [checked]="selection.isSelected(i)"
                  (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(i) : null"></mat-checkbox>
  </div>
</div>
