.croppedImage{

    width 100px;
    height 100px;
    border-radius 50%
    margin-top 30px;

}

  .sourceImage{
    width 150px;
    height 150px;
    border-radius  7px;
    cropper-overlay-color black;
    --cropper-outline-color rgba(0,0,0,0.3);
    --cropper-overlay-color black;

  }

    .source-block{
      float right;
      margin-right 40px;
    }

.button{
  margin-top 20px;
  background-color #039BE5;
  color white
}

.button input{
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}

  .choose-again{
    position: relative;
    overflow: hidden;
    color: #9E9E9E;
    text-align:center
    margin-top 5px;
  }

.choose-again input{
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}

  .top-padding{
    height 80px
  }

.fenge{

  padding:110px 20px 15px 20px;

  margin-left: 0px;

  border-left: 1px solid #BDBDBD;

  font-size: 0;

}

  .center-padding{
    height 40px
  }

    .center-info{
      color: #9E9E9E;
      font-size 12px;
      text-align:center
    }

.source-Image-empty{
  width 165px;
  height 165px;
  background-color #EEEEEE;
  border-radius  7px;

  i{
    font-size 50px;
    color #BDBDBD;
    text-align:center
  }
  h4{
    color #616161;
    text-align:center
    margin-top 10px;
  }
}

  .icon-padding{
    height 40px;
  }


