.bot-wrapper
  max-width calc(80vw - 48px)
  width 600px
  max-height calc(80vh - 120px)
  height 500px
  border 1px solid #ddd
  border-radius 5px
  overflow hidden
  position relative

.bot-container
  max-width calc(80vw - 44px)
  width 604px
  max-height calc(80vh - 116px)
  height 504px
  margin -2px

.loading-overlay
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  display flex
  justify-content center
  align-items center
  flex-direction column

  p
    margin 10px 0 0

