<div class="train-info">
  <h1 id="train-name">
    <span class="name-wrapper">
      <span *ngIf="!controls.name.editing">{{controls.name.value}}</span>
      <mat-form-field *ngIf="controls.name.editing" class="wide-form-input">
        <mat-label>实训名</mat-label>
        <input matInput placeholder="输入新实训名" [formControl]="controls.name">
      </mat-form-field>
    </span>
    <button *ngIf="editMode" matTooltipPosition="right"
            mat-icon-button [matTooltip]="controls.name.editing ? '完成' : '修改'" class="edit-button"
            (click)="controls.name.switchEdit()">
      <mat-icon>{{controls.name.editing ? 'check' : 'edit'}}</mat-icon>
    </button>
  </h1>
  <p id="train-organ">
    实训组织:
    <span class="organ-wrapper">
      <span *ngIf="!controls.organization_id.editing">{{organizations[controls.organization_id.value]}}</span>
      <mat-form-field *ngIf="controls.organization_id.editing" class="wide-form-input" appearance="fill">
        <mat-label>选择实训组织</mat-label>
        <mat-select [formControl]="controls.organization_id">
          <mat-option *ngFor="let org of organization_list" [value]="org[0] * 1">{{org[1]}}</mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <button *ngIf="newEntry" matTooltipPosition="right"
            mat-icon-button [matTooltip]="controls.organization_id.editing ? '完成' : '修改'" class="edit-button"
            (click)="controls.organization_id.switchEdit()">
      <mat-icon>{{controls.organization_id.editing ? 'check' : 'edit'}}</mat-icon>
    </button>
  </p>
  <p id="train-start">
    开始时间:
    <span class="start-wrapper">
      <span *ngIf="!controls.start_time.editing">{{controls.start_time.value | date}}</span>
      <mat-form-field *ngIf="controls.start_time.editing" class="form-input" appearance="fill">
        <mat-label>选择开始时间</mat-label>
        <input matInput [matDatepicker]="startPicker" [formControl]="controls.start_time">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
    </span>
    <button *ngIf="editMode" matTooltipPosition="right"
            mat-icon-button [matTooltip]="controls.start_time.editing ? '完成' : '修改'" class="edit-button"
            (click)="controls.start_time.switchEdit()">
      <mat-icon>{{controls.start_time.editing ? 'check' : 'edit'}}</mat-icon>
    </button>
  </p>
  <p id="train-end">
    结束时间:
    <span class="end-wrapper">
      <span *ngIf="!controls.end_time.editing">{{controls.end_time.value | date}}</span>
      <mat-form-field *ngIf="controls.end_time.editing" class="form-input" appearance="fill">
        <mat-label>选择结束时间</mat-label>
        <input matInput [matDatepicker]="endPicker" [formControl]="controls.end_time">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </span>
    <button *ngIf="editMode" matTooltipPosition="right"
            mat-icon-button [matTooltip]="controls.end_time.editing ? '完成' : '修改'" class="edit-button"
            (click)="controls.end_time.switchEdit()">
      <mat-icon>{{controls.end_time.editing ? 'check' : 'edit'}}</mat-icon>
    </button>
  </p>
  <div id="train-content">
    <h2 class="content-title">
      实训内容
      <button *ngIf="editMode" matTooltipPosition="right"
              mat-icon-button [matTooltip]="controls.content.editing ? '完成' : '修改'" class="edit-button"
              (click)="controls.content.switchEdit()">
        <mat-icon>{{controls.content.editing ? 'check' : 'edit'}}</mat-icon>
      </button>
    </h2>
    <p class="content-wrapper">
      <span *ngIf="!controls.content.editing">{{controls.content.value}}</span>
      <mat-form-field *ngIf="controls.content.editing" class="full-form-input">
        <mat-label>填写实训内容</mat-label>
        <textarea matInput placeholder="输入实训内容" [formControl]="controls.content"></textarea>
      </mat-form-field>
    </p>
  </div>
  <div id="train-standard">
    <h2 class="standard-title">
      验收标准
      <button *ngIf="editMode" matTooltipPosition="right"
              mat-icon-button [matTooltip]="controls.standard.editing ? '完成' : '修改'" class="edit-button"
              (click)="controls.standard.switchEdit()">
        <mat-icon>{{controls.standard.editing ? 'check' : 'edit'}}</mat-icon>
      </button>
    </h2>
    <p class="standard-wrapper">
      <span *ngIf="!controls.standard.editing">{{controls.standard.value}}</span>
      <mat-form-field *ngIf="controls.standard.editing" class="full-form-input">
        <mat-label>填写验收标准</mat-label>
        <textarea matInput placeholder="输入验收标准" [formControl]="controls.standard"></textarea>
      </mat-form-field>
    </p>
  </div>
  <!-- TODO hide resource when creating new train. -->
  <div id="train-resource">
    <h2 class="resource-title">
      实训资料
      <button *ngIf="editMode" matTooltipPosition="right"
              mat-icon-button [matTooltip]="editFile ? '完成' : '修改'" class="edit-button"
              (click)="editFile = !editFile">
        <mat-icon>{{editFile ? 'check' : 'edit'}}</mat-icon>
      </button>
    </h2>
    <mat-list *ngIf="!editFile">
      <a *ngFor="let file of data.resource_lib" class="resource-link"
         [href]="file.file_path" [download]="file.original_name">
        <mat-list-item class="resource-item" matRipple>
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <div mat-line>{{file.original_name}}</div>
          <div mat-line> {{file.file_size | fileSize}} · {{file.created | date}} </div>
        </mat-list-item>
      </a>
    </mat-list>
    <div class="file-edit-wrapper" *ngIf="editFile">
      <mat-selection-list #files>
        <mat-list-option *ngFor="let file of data.resource_lib" [value]="file">
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <div mat-line>{{file.original_name}}</div>
          <div mat-line> {{file.file_size | fileSize}} · {{file.created | date}} </div>
        </mat-list-option>
      </mat-selection-list>
      <div class="resource-action" *ngIf="editFile">
        <button mat-fab color="primary" matTooltip="添加资源"
                (click)="addFile()"><mat-icon>post_add</mat-icon></button>
        <button mat-fab color="warn" [disabled]="files.selectedOptions.selected.length === 0" (click)="deleteFile()"
                matTooltip="删除选中资源"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
</div>
