.dialog-actions
  justify-content flex-end

.form-input-container
  max-width calc(80vw - 48px)
  display flex
  flex-direction column
  width 600px

  .form-input
    margin 10px 0

.radio
  margin-right 10px

.auto-complete-avatar
  width 30px
  height 30px
  margin 9px 0
  vertical-align top
  border-radius 50%
