/* You can add global styles to this file, and also import other style files */

html, body
  height 100%
  font-family sans-serif

body
  margin 0

.mat-snack-bar-top.mat-snack-bar-container
  margin-top 88px

.round-panel
  background-color #fcfcfc
  border 1px solid #dadce0
  border-radius 10px

.mat-tooltip-force-all .mat-tooltip
  word-break break-all
  overflow-wrap break-word
