<div class="info-top-padding"></div>

  <div class="mdui-container-fluid">
    <div class="mdui-row mdui-row-gapless">
      <div class="mdui-col-xs-8">
        <div class="mdui-container-fluid">
          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-3">
              <div class="mdui-text-right main-info-padding"> <h4>昵称:</h4></div>
            </div>
            <div class="mdui-col-xs-9">
              <mat-form-field appearance="outline" class = "input-padding">
                <mat-label>创建你的昵称</mat-label>
                <input matInput placeholder="" class = “inputbox”>
              </mat-form-field>
            </div>

          </div>

          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-3">
              <div class="mdui-text-right main-info-padding"> <h4>用户名:</h4></div>
            </div>
            <div class="mdui-col-xs-9">
              <mat-form-field appearance="outline" class = "input-padding">
                <input matInput placeholder="" class = “inputbox” disabled>
              </mat-form-field>
            </div>

          </div>

          <div class="mdui-row mdui-row-gapless">

            <div class="mdui-col-xs-3">
              <div class="mdui-text-right main-info-padding"> <h4>性别:</h4></div>
            </div>
            <div class="mdui-col-xs-9">
              <form>

                <label class="mdui-radio">
                  <input type="radio" name="group1"/>
                  <i class="mdui-radio-icon"></i>
                  男
                </label>

                <label class="mdui-radio">
                  <input type="radio" name="group1"/>
                  <i class="mdui-radio-icon"></i>
                  女
                </label>

                <label class="mdui-radio">
                  <input type="radio" name="group1" checked/>
                  <i class="mdui-radio-icon"></i>
                  保密
                </label>

              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="mdui-col-xs-4"></div>
    </div>
  </div>


  <div class="mdui-row mdui-row-gapless">

    <div class="mdui-col-xs-2">
      <div class="mdui-text-right info-padding"> <h4>我的签名:</h4></div>
    </div>
    <div class="mdui-col-xs-10">
      <mat-form-field appearance="outline" class = "textarea-padding">
        <mat-label>设置你的签名</mat-label>
        <textarea matInput placeholder="" rows="6"></textarea>
      </mat-form-field>
    </div>

  </div>
  <div class="mdui-row mdui-row-gapless">

    <div class="mdui-col-xs-2">
      <div class="mdui-text-right info-padding" > <h4>Email:</h4></div>
    </div>
    <div class="mdui-col-xs-10">
      <mat-form-field appearance="outline" class = "input-padding">
        <mat-label>修改你的Email</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>

  </div>
  <div class="mdui-row mdui-row-gapless">

    <div class="mdui-col-xs-2">
      <div class="mdui-text-right info-padding"> <h4>电话:</h4></div>
    </div>
    <div class="mdui-col-xs-10">
      <mat-form-field appearance="outline" class = "input-padding">
        <mat-label>修改你的电话</mat-label>
        <input matInput placeholder="">
      </mat-form-field>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="mdui-container">
    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent save-button mdui-center">保存</button>
  </div>

