.input-padding{
  margin-left:10px;
}


.save-button{
  margin-top:20px;
  background-color : #039BE5;
  color:white
}

.page-top-padding{
  height 80px;
}




.info-top-padding{
  height 30px;
}

.info-padding{
  margin-top:17px;
  margin-right:5px;
  margin-bottom:10px;
}

  .textarea-padding{
    margin-left:10px;
    width:100%;
  }

.main-info-padding{
  margin-top:17px;
  margin-right:15px;
  margin-bottom:10px;
}
