.dialog-actions
  justify-content flex-end

.form-input-container
  max-width calc(80vw - 48px)
  display flex
  flex-direction column
  width 600px

.file-picker
  position relative
  margin-bottom 20px

  #real-file-picker
    position absolute
    height 36px
    top 0
    left 0
    opacity 0

.table-wrapper
  overflow auto

  .user-table
    min-width 640px
    width 100%
